<% cache(cache_key_for_location(location, "row")) do %>
	<div class="location-row content-row">
		<div class="row-fluid">
			<div class="span12 thumbnails-container">
				<div class="thumbnails-inner lazy-container">
					<ul id= "location-row-<%= location.object_id %>" class="thumbnails">
					<% location.current_asset_entities.asset_load().by_key(:extended, :gallery).each do |asset_entity| %>
								<li class="<%= asset_entity.key %>">
									<%= link_to location_path(location) do %>
										
										<%= image_tag asset_entity.key == :extended ? asset_entity.asset.source_url() : asset_entity.asset.source_url(:gallery_thumb), 
										{
											:alt => asset_entity.title,
											:lazy => true,
											:lazy_class => "lazy-scroll",
											:data => {
												:name => formatted_location_name(location),
												:asset_entity => asset_entity.id
											}
										} %>
										
									
									<% end %>
								</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h3 class="content-name"><%= link_to formatted_location_name(location,"-"), location_path(location) %></h3>
				<h5 class="content-meta"><%= link_to location.permit.name, permit_path(location.permit) %><span>&nbsp;/&nbsp;</span><%= link_to location.city.name, city_path(location.city) %></h5>
			</div>
		</div>
	</div>
<% end %>