<%= simple_form_for [:admin, @asset] do |f| %>
	<%= f.hidden_field :type %>
	<%= f.input :source, as: :file, label: "Cover Image" do %>
	   			<div class="fileupload fileupload-new" data-provides="fileupload">
				   	<div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="" /></div>
				   	<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
				   	<span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :source %></span>
				   	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
				   
	   			</div>
	   			
	   		<% end %>
	
	
	<%= f.fields_for :asset_video, f.object.new_record? ? f.object.build_asset_video : f.object.asset_video do |builder| %>
		<%= builder.input :source, as: :file, label: "Video File" do %>
	   			<div class="fileupload fileupload-new" data-provides="fileupload">
				   	<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
				   	<span class="btn btn-file">
				   	<span class="fileupload-new">Select video</span><span class="fileupload-exists">Change</span><%= builder.file_field :source %></span>
				   	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
				   
	   			</div>
	   			
	   		<% end %>
	   		
	   	<%= builder.input :source_embed_url %>
	
	<% end %>
	 
	<%= render :partial => 'admin/assets/asset_tag_form_fields', :locals => {:f => f} %>
	 <div class="form-actions">
  	 <%= f.submit @asset.new_record? ? "Add #{@asset.type}" : "Update #{@asset.type}", @asset.new_record? ? { :class => 'btn btn-primary' } : { :class => 'btn btn-success' } %>
	 </div>
 <% end %>