<% title "Assets" %>

<% content_for :top_nav do %>
	<% if can? :create, Asset %>
		<li class="dropdown"><%= link_to content_tag(:i,"",:class => "icon-picture") + " New Asset", "#", :data => { :toggle => "dropdown" }, :class => "dropdown-toggle" %>
			<ul class="dropdown-menu">
				<li><%= link_to content_tag(:i,"",:class => "icon-picture") + " Image", new_admin_assets_path({:type => 'image'}), :class => "" %></li>
				<li><%= link_to content_tag(:i,"",:class => "icon-film") + " Video", new_admin_assets_path({:type => 'video'}), :class => "" %></li>
				
				
			</ul>
		</li>
	<% end %>
<% end %>

<% content_for :search do %>
	<%= search_form Asset %>
<% end %>


<h1><i class="icon-picture"></i>&nbsp;<%= @klass.name.pluralize %></h1>

<div class="box">
	<ul class="nav nav-tabs">
		<%= nav_tab_link(:text => "All", :path => admin_assets_path) %>
		<%= nav_tab_link(:text => "Images", :path => admin_assets_path({:type => 'image'})) %>
		<%= nav_tab_link(:text => "Video", :path => admin_assets_path({:type => 'video'})) %>
	</ul>
	<div>
		<%= render "#{@klass.name.underscore}_index", :locale => { :assets => @assets } %>
		
		<%= paginate @assets %>
	</div>
</div>