<% title "Contact" %>
<% cache("contact") do %>

<div class="row-fluid">
<ul id="contact_list">
	<li>
		<div class="inner">
			<h1 class="page-title">Contact</h1>
			<%= link_to "Paul@ImageLocations.com","mailto:paul@imagelocations.com" %><br>
			Tel. (310) 871-8004<br>
			Fax (213) 380-1415
			<hr>
			<address>
			<small>
				9663 Santa Monica Blvd, Suite 842<br>
				Beverly Hills, CA, 90210
			</small>
			</address>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/paul.kim.jpg" %>
			<div class="hover">
				<h4>Paul Kim</h4>
				<h5>Business Development</h5>
				<%= link_to "Paul@ImageLocations.com","mailto:paul@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/02.jpg" %>
			<div class="hover">
				<h4>Jennifer Sanchez</h4>
				<h5>Executive Location Agent</h5>
				<%= link_to "jennifer@imagelocations.com","mailto:jennifer@imagelocations.com" %>
			</div>
		</div>
	</li>

	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/03.jpg" %>
			<div class="hover">
				<h4>Patrick Ward-Perkins</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "patrick@imagelocations.com","mailto:patrick@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
		    <%= link_to "http://www.exclusivelisting.com" do %>
				<%= image_tag "imagelocations/contact/exclusivelocations.png" %>
			<% end %>
		</div>
	</li>
		
	<li class="link">
		<div class="inner">
			<%= link_to location_application_path do %>
				<%= image_tag "imagelocations/contact/listmyhome.jpg" %>
			<% end %>
		</div>
	</li>

	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.inc.com/profile/image-locations" do %>
				<%= image_tag "imagelocations/contact/06.inc500.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/alice.kim.jpg" %>
			<div class="hover">
				<h4>Alice Kim</h4>
				<h5>Executive Location Agent</h5>
				<%= link_to "alice@imagelocations.com","mailto:alice@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/vanessa.werkheiser.jpg" %>
			<div class="hover">
				<h4>Vanessa Werkheiser</h4>
				<h5>Executive Location Agent</h5>
				<%= link_to "vanessa@imagelocations.com","mailto:vanessa@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/jason.radspinner.jpg" %>
			<div class="hover">
				<h4>Jason Radspinner</h4>
				<h5>Director of Locations</h5>
				<%= link_to "jason@imagelocations.com","mailto:jason@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/marisa.jpg" %>
			<div class="hover">
				<h4>Marisa Sullivan</h4>
				<h5></h5>
				<%= link_to "marisa@imagelocations.com","mailto:marisa@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/camilla.more.jpg" %>
			<div class="hover">
				<h4>Camilla More</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "info@imagelocations.com","mailto:info@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to location_path(1967) do %>
				<%= image_tag "imagelocations/contact/sky-studio.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/mike.sazz.jpg" %>
			<div class="hover">
				<h4>Mike Saz</h4>
				<h5>I.T.</h5>
				<%= link_to "info@imagelocations.com","mailto:info@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.reelz.com/mansionhunters/" do %>
				<%= image_tag "imagelocations/contact/mansionhunters.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "https://www.facebook.com/ImageLocationsInc" do %>
				<%= image_tag "imagelocations/contact/15.facebook.jpg" %>
			<% end %>
		</div>
	</li>
	
	
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/louie.heredia.jpg" %>
			<div class="hover">
				<h4>Louie Heredia</h4>
				<h5>Staff Photographer</h5>
				<%= link_to "louie@imagelocations.com","mailto:louie@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/crystal.jewel.jpg" %>
			<div class="hover">
				<h4>Crystal Jewel</h4>
				<h5></h5>
				<%= link_to "crystal@imagelocations.com","mailto:crystal@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/johnathan.ehlers.jpg" %>
			<div class="hover">
				<h4>Johnathan Ehlers</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "johnathan@imagelocations.com","mailto:johnathan@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/jacob.semans.jpg" %>
			<div class="hover">
				<h4>Jacob Semans</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "jacob@imagelocations.com","mailto:jacob@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/audrey.rodriguez.jpg" %>
			<div class="hover">
				<h4>Audrey Rodriguez</h4>
				<h5>Accounting</h5>
				<%= link_to "audrey@imagelocations.com","mailto:audrey@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/steven.dimich.jpg" %>
			<div class="hover">
				<h4>Steven Dimich</h4>
				<h5>Staff Photographer</h5>
				<%= link_to "steven@imagelocations.com","mailto:steven@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/alessandra.fiorino.jpg" %>
			<div class="hover">
				<h4>Allie Fiorino</h4>
				<h5>Wedding Estates Coordinator</h5>
				<%= link_to "allie@imagelocations.com","mailto:allie@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="blank">
		<div class="inner">
			<%= link_to "http://www.bloomberg.com/news/2010-10-29/image-locations-seeks-to-streamline-a-clunky-industry.html" do %>
				<%= image_tag "imagelocations/contact/23.press.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/paulina.kuszta.jpg" %>
			<div class="hover">
				<h4>Paulina Kuszta</h4>
				<h5>Director of Marketing</h5>
				<%= link_to "paulina@imagelocations.com","mailto:paulina@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.weddingestates.com" do %>
				<%= image_tag "imagelocations/contact/04.weddingestates.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/penny.vital.jpg" %>
			<div class="hover">
				<h4>Penny Vital</h4>
				<h5>Associate Agent</h5>
				<%= link_to "penny@imagelocations.com","mailto:penny@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/david.salpeter.jpg" %>
			<div class="hover">
				<h4>David Salpeter</h4>
				<h5>Staff Photographer</h5>
				<%= link_to "david@imagelocations.com","mailto:david@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/morgan.jenkins.jpg" %>
			<div class="hover">
				<h4>Morgan Jenkins</h4>
				<h5>Staff Photographer</h5>
				<%= link_to "morgan@imagelocations.com","mailto:morgan@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/samantha.franco.jpg" %>
			<div class="hover">
				<h4>Samantha Franco</h4>
				<h5>Accounting Assistant</h5>
				<%= link_to "info@imagelocations.com","mailto:info@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/tamzin.brown.jpg" %>
			<div class="hover">
				<h4>Tamzin Brown</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "info@imagelocations.com","mailto:info@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.pinterest.com/imagelocations/" do %>
				<%= image_tag "imagelocations/contact/28.pinterest.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/danielle.quade.jpg" %>
			<div class="hover">
				<h4>Danielle Quade</h4>
				<h5>Graphic Designer</h5>
				<%= link_to "info@imagelocations.com","mailto:info@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/kenny.jpg" %>
			<div class="hover">
				<h4>Kenny Griffin</h4>
				<h5></h5>
				<%= link_to "kenny@imagelocations.com","mailto:kenny@imagelocations.com" %>
			</div>
		</div>
	</li>
	


	<li class="link">
		<div class="inner">
			<%= link_to location_path(1642), :class => "black" do %>
				<div class="hover">
					<span>Concrete Loft</span>
				</div>
				<%= image_tag "imagelocations/contact/concreteloft.jpg" %>
			<% end %>
		</div>
	</li>
		
	<li class="link">
		<div class="inner">
			<%= link_to "http://instagram.com/imagelocations" do %>
				<%= image_tag "imagelocations/contact/26.insta.jpg" %>
			<% end %>
		</div>
	</li>
	
	
	<li class="link">
		<div class="inner">
			<%= link_to "about" do %>
				<%= image_tag "imagelocations/contact/14.imagelocations.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.b-rolling.com" do %>
				<%= image_tag "imagelocations/contact/05.brolling.jpg" %>
			<% end %>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://crewparking.com" do %>
				<%= image_tag "imagelocations/contact/12.crewparking.jpg" %>
			<% end %>
		</div>
	</li>

	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/lindsay.lohden.jpg" %>
			<div class="hover">
				<h4>Lindsay Lohden</h4>
				<h5>Location Supervisor</h5>
				<%= link_to "lindsay@imagelocations.com","mailto:lindsay@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/alexis.wilson.jpg" %>
			<div class="hover">
				<h4>Alexis Wilson</h4>
				<h5>Administrative Support</h5>
				<%= link_to "Alexis@imagelocations.com","mailto:Alexis@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.stjude.org" do %>
				<%= image_tag "imagelocations/contact/saintjude.jpg" %>
			<% end %>
		</div>
	</li>
	
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/christine.terrisse.jpg" %>
			<div class="hover">
				<h4>Christine Terrisse</h4>
				<h5>Content Writer</h5>
				<%= link_to "Christineterrisse@gmail.com","mailto:Christineterrisse@gmail.com" %>
			</div>
		</div>
	</li>
	
	<li class="user">
		<div class="inner">
			<%= image_tag "imagelocations/contact/dara.osborne.jpg" %>
			<div class="hover">
				<h4>Dara Osborne</h4>
				<h5>Administrative Support</h5>
				<%= link_to "Dara@imagelocations.com","mailto:Dara@imagelocations.com" %>
			</div>
		</div>
	</li>
	
	<li class="link">
		<div class="inner">
			<%= link_to "http://www.pawsla.org" do %>
				<%= image_tag "imagelocations/contact/paws.la.jpg" %>
			<% end %>
		</div>
	</li>
	
</ul>
</div>
<% end %>