<li class="template-upload fade" data-base-input-name="<%= base_input_name %>">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :key %>
  <%= f.fields_for :asset do |builder| %>
  	<%= builder.hidden_field :id %>
  	<%= builder.hidden_field :type %>
  
	  <div class="thumbnail">
		<div class="upload-progress">
			<div class="inner">
	  			<div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
			</div>
		</div>
	 	<div class="preview">
	 		<span class="fade"></span>
	 	</div>
	 	<div class="info">
		 	<div class="meta">
		  		<div class="name"><span></span></div>
		  		<div class="size"><span></span></div>
		  
		  	</div>
			<div class="actions">
				<div class="inner">
					
					<span class="start">
						<button class="btn btn-mini btn-tooltip btn-primary" title="Upload">
							<i class="icon-upload icon-white"></i>
						</button>
					</span>
					<span class="cancel">
						<button class="btn btn-mini btn-warning btn-tooltip cancel" title="Cancel">
							<i class="icon-ban-circle icon-white"></i>
						</button>
					</span>
				</div>
			</div>
			
			
	 	</div>
	  </div>
  <% end %>
  <h6 class="priority"></h6>
</li>

