<!--<%= f.input :billing_name %>

<%= f.input :billing_address %>

<%= f.input :billing_zip %>

<%= f.input :billing_state %>

<%= f.input :billing_country %>
-->

<%= f.fields_for :credit_card_payments, f.object.credit_card_payments.first || f.object.credit_card_payments.build do |op| %>
	<div class="row-fluid">
		<%= op.input :cc_firstname, :label => "First Name on Card", :wrapper_html => {:class => "span6"}, :input_html => {:class => "input-block-level"} %>
		<%= op.input :cc_lastname, :label => "Last Name on Card", :wrapper_html => {:class => "span6"}, :input_html => {:class => "input-block-level"} %>
	</div>
	<div class="row-fluid">
		<%= op.input :cc_number, :as => :string, :label => "Credit Card Number", :input_html => { :value => "", :class => "input-block-level"} %>
	</div>
	<div class="row-fluid">
		<%= op.input :cc_expire_month, :as => :select, :collection => (1..12).map { |m| ["#{m}".rjust(1, "0"),m] }, :wrapper_html => {:class => "span4"}, :input_html => {:class => "span6"} %>
		<%= op.input :cc_expire_year, :as => :select, :collection => (Date.today.year()..Date.today.year() + 15), :wrapper_html => {:class => "span4"}, :input_html => {:class => "span6"} %>
		<%= op.input :cc_security_code, :as => :string, :label => "CVV", :input_html => { :class => "input-block-level", :value => ""}, :wrapper_html => {:class => "span2 pull-right"} %>
	</div>
<% end %>
