<%= render :partial => 'admin/shared/site_entity_navbar', :locals => {:site_entities => @site_entities, :site_entity => @site_entity} %>
<div class="box">
<%= simple_form_for([:admin, @category.becomes(Category)], :as => :category, :html => {
												:class => "site_content_form",
												:multipart => true,
												"data-site" => @current_site.id,
												"data-entity-id" => @category.id,
												"data-element-prefix" => site_entity_prefix(@category)}
												) do |f| %>


<div class="row-fluid">
	<div class="span9">
	<%= f.input :name, :input_html => {:class => "input-big input-block-level"} %>
	</div>
	<div class="span3">
	<%= f.association :series, :collection => Series.all %>
	</div>
</div>
<%= render :layout => 'admin/shared/site_entity_form', :locals => {:f => f} do %>
  
  <%= render :partial => 'admin/shared/site_entity_single_asset_field', :locals => {:builder => site_entity_builder, :asset_entity_key => :cover}%>
  
<% end %>


  
<div class="form-actions">
<%= f.submit @category.new_record? ? "Add Category" : "Update Category", 
		   				@category.new_record? ? { :class => 'btn btn-primary' } : { :class => 'btn btn-success' } %>
</div>
<% end %>

</div>