<% title @publication.name %>

<h1 class="page-title"><i class="icon-book"></i>&nbsp;<%= @publication.name %></h1>

<div class="row-fluid">
	<div class="span3 well">
		<%= image_tag @publication.cover_url %>
	</div>
	
	<div class="span9">
		<div class="box">
		<h4>Tears</h4>
	<%= alphabet_filter @tears %>
	
	<table class="table table-striped table-bordered">
	  <tr>
	  	<th class="thumb"></th>
	    <th>Name</th>
	    <th>Actions</th>
	  </tr>
	
	<% @tears.each do |tear| %>
	  <tr>
	  	<td class="thumb"></td>
	    <td><%= 
	    	link_to tear.name, admin_tear_path(tear)
		    
	    %></td>
	    <td class="td-actions">
	      <div class="btn-group">
	        <%= link_to raw('<i class="icon-eye-open"></i>'), admin_tear_path(tear), :class => 'btn btn-small' if can?(:read, tear) %>
	        <%= link_to raw('<i class="icon-edit"></i>'), edit_admin_tear_path(tear), :class => 'btn btn-small btn-warning' if can?(:update, tear) %>
	        <%= link_to raw('<i class="icon-trash icon-white"></i>'), admin_tear_path(tear), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' if can?(:destroy, tear) %></td>
	      </div>
	  </tr>
	<% end %>
	</table>
	
	<%= paginate @tears %>
</div>
	</div>
</div>


