<% title "User" %>



<h1 class="page-title"><i class="icon-map-marker"></i>&nbsp;<%= @user.username %></h1>
<div class="row-fluid">
	<div class="span9">
		<p>User: <%= @user.full_name %></p>
		<p>Email: <%= @user.email if @user.email %></p>
	</div>
	<div class="span3">
		<div class="box">
			<ul>
			<% @user.subscriptions.each do |subscription| %>
				<li><%= link_to admin_user_subscription_path(@user, subscription) do %>
						<%= subscription.plan.name %> - <%= format_expiration_date(subscription.expiration_date) %>
					<% end %>
				</li>
				
			<% end  %>
			</ul>
			<%= link_to "Add Subscription", new_admin_user_subscription_path(@user) %>
		</div>
	</div>


</div>


